@import "./_mixins";
@import "./_variables";
@import "./_theme";
@import "./components/charts";
@import "./components/button";

.container {
  margin-left: auto;
  margin-right: auto;

  @include min-media($xs) {
    max-width: $sm;
  }

  @include min-media($sm) {
    max-width: $sm;
  }

  @include min-media($md) {
    max-width: $md;
  }

  @include min-media($lg) {
    max-width: $lg;
  }

  @include min-media($xl) {
    max-width: $lg;
  }
}

body {
  @include theme-aware("background", "color-background");
}

.Home-title {
  padding: 8px;
  @include theme-aware("color", "color-text-primary");
}

.Home-grid-list {
  display: grid;
  gap: 8px;

  @include min-media($sm) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @include min-media($md) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper-spinner {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  & .spinner {
    animation: spin 2s linear infinite;
    font-size: 72px;
    @include theme-aware("color", "color-primary");
  }
}
